.enterprise {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 100px 0px 0px;

    &__container {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1350px) {

    .enterprise {
        display: none;
    }
}