.skills {
    padding: 150px 0px 150px;
}

.skills__card {
    width: 80%;
    background-color: white;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin: 10px;
    padding: 40px;
    text-align: center;
}

.skills__card__block__division {
    margin: 50px 0px;
}

@media (max-width: 680px) {

    .skills__card {
        width: 94%;
    }

    .skills__card__star {
        width: 278px;
    }
}