/// COLORS

$white: white;
$teal: teal;
$box-shadow-card: rgba(68, 88, 144, 0.5);

/// FONTS

$fontMcLaren: 'McLaren', cursive;
$fontKanit: 'Kanit', sans-serif;
$fontCantarell: 'Cantarell', sans-serif;

// GLOBAL FLEX

.apresentation__position, .study-work__block, .apresentation__personal, .certificates__block, .skills__block, .skills__card, .skills__card__block, .projects__block, .projects__position, .first-article, .skills__card__block__division, .community, .community__block, .community__representation, .community__article, .voluntary__article, .footer, .footer__position, .footer__nav, .footer__order, .copyright, .projects-platform__content {
    display: flex;
}

.apresentation__position, .apresentation__personal, .projects__position, .community, .voluntary__article, .footer, .footer__nav, .footer__order, .copyright {
    justify-content: center;
}

.study-work__block, .certificates__block, .skills__block, .projects__block, .skills__card__block {
    justify-content: space-around;
}

.study-work__block, .certificates__block, .skills__block, .projects__block, .skills__card__block, .voluntary__article, .footer__nav, .footer__order, .projects-platform__content {
    flex-flow: row wrap;
}

.apresentation__position, .skills__card, .community__representation, .community__article, .footer, .footer__position {
    flex-flow: column;
}

.apresentation__personal, .community__article, .footer__position, .footer__order {
    align-items: center;
}

.skills__card__block__division {
    flex-direction: column;
}

.study-work__card, .certificates__card, .skills__card, .projects-github, .projects-meehub, .projects-platform {
    box-shadow: 0 10px 29px 0 $box-shadow-card;
}

// TAG HTML

body {
    background-color: #ecf5ff;
}

footer {
    background-color: #222331;
    color: $white;
}

ul li, li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    color: $white;
    font-family: 'Fredoka One', cursive;
    font-size: 46px;
    text-align: center;
}
    
h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 27px;
    text-align: center;
}
    
h3 {
    font-family: 'Fascinate Inline', cursive;
    font-size: 30px;
    padding: 0px 0px 30px;
    text-align: center;
}
    
h4 {
    font-family: 'Baloo', cursive;
    font-size: 17px;
    text-align: center;
}
    
h5 {
    font-family: 'Baloo', cursive;
    font-size: 30px;
}
    
p {
    font-family: 'Patrick Hand', cursive;
    font-size: 19px;
    text-align: center;
    line-height: 0.8;
}
    
// MEDIA QUERIES

@media (max-width: 680px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
        text-align: center;
    }

    h3 {
        font-size: 27px;
    }

    h5 {
        font-size: 20px;
        text-align: center;
    }
}

// HEADER

@import 'apresentation';

// MAIN 

@import 'study-work', 'enterprise', 'certifications', 'skills', 'projects', 'community', 'voluntary';

// FOOTER

@import 'footer';   