/* GLOBAL */ 
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.position-article {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

body {
    background-color: #ecf5ff;
}

/* HEADER */

.zero-section, .first-section {
    background-color: teal;
}

.zero-section {
    padding: 80px 0px 100px;
}

.round-image {
    border-radius: 999rem;
    height: 200px;
    margin: 30px 70px;
}

.text-personal {
    display: flex;
    flex-direction: column;
}

.name-job {
    display: flex;
    justify-content: center;
}

.description {
    padding: 30px 0px;
}

.border-card-zero-section, .border-card-primary-section, .border-card-second-section {
    border: 1px solid #dadce0;
    border-radius: 8px;
}

.border-card-zero-section {
    margin: 0px 60px;
    background-color: white;
}

/* MAIN */

.first-section {
    padding: 0px 0px 100px;
    border-radius: 0px 0px 60px 60px;
}

.border-card-primary-section {
    margin: 10px;
    background-color: lightseagreen;
    padding: 80px 40px;
    width: 500px;
    color: white;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.5);
}

.border-card-primary-section:hover {
    background-color: white;
    color: black;
}

/* .img-school {
    height: 60px;
} */

.second-section {
    padding: 150px 0px 0px;
}

.border-card-second-section {
    margin: 10px;
    background-color: white;
    padding: 40px;
    width: 500px;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.5);
}

.black-font {
    color: black;
}

.white-font {
    color: white;
}

.third-section {
    padding: 150px 0px;
}

.fourth-section {
    background-color: rebeccapurple;
    padding: 150px 0px;
    border-radius: 60px 60px 0 0;
}

.position-article-card {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.sixth-section {
    background-color: black;    
}

.position-container {
    padding: 150px 0px;
}

.card {
    margin: 18px;
}

.card:hover {
    border: 1px solid #f70303;
}

.card-img-top {
    border: 1px solid rgb(0, 1, 2);
}

/* FOOTER */

footer {
    background-color: #222331;
    color: white;
}

.card-img-top-footer {
    height: 108px;
    border-radius: 999rem;  
}

.community-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50px 0px;
}

.container-community {
    display: flex;
    flex-flow: column;
    text-align: center;
}

.content-title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 0px;
}

.content-img {
    display: flex;
}

.img-order {
    display: flex;
    flex-flow: column;
    padding: 0px 10px;
}

.content-letters {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'McLaren', cursive;
    font-size: 12px;
}

nav ul li a:hover {
    color: black;
    text-decoration: none;
}

.logo-link {
    margin: 10px 10px 0px;
    height: 20px;
    transition: all 0.8s ease-in-out;
}

.logo-link:hover {
    transform: scale(1.2) rotate(360deg);
}

.ul-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.li-footer {
    padding: 0 15px;
    margin: 40px 0 0 0;
}

.logo-link-footer {
    height: 20px;
    transition: all 0.8s ease-in-out;
}

.logo-link-footer:hover {
    transform: scale(1.2) rotate(360deg);
}

.dark-footer {
    background-color: #171824;
    padding: 15px;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.img-heart-bit{
    height: 25px;
}

 h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 46px;
    color: white;
    text-align: center;
    color: black;
 }

 h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 27px;
    color: white;
    text-align: center;
    color: black;
 }

 h3 {
    text-align: center;
    font-size: 30px;
    /* color: white; */
    font-family: 'Fascinate Inline', cursive;
    padding: 0px 0px 30px;
}

h4 {
    font-family: 'Baloo', cursive;
    text-align: center;
    /* color: white; */
    font-size: 17px;
}

h6 {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    /* color: black; */
}

p {
    font-family: 'Patrick Hand', cursive;
    font-size: 17px;
    text-align: center;
}

@media (max-width: 680px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 15px;
        text-align: center;
    }

    h3 {
        font-size: 27px;
    }

    h4 {
        font-size: 14px;
    }

    h6 {
        font-size: 15px;
    }

    .border-card-zero-section {
        margin: 0px 13px;
    }

    .border-card-primary-section {
        padding: 80px 0px;
    }
}